Flask==2.0.1
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
python-dotenv==0.19.2
Werkzeug==2.0.3

Cython>=0.29
setuptools>=42
wheel

# Optional: only if you actually use them in your code
psycopg2-binary==2.9.10
SQLAlchemy==2.0.41
requests==2.25.1
pandas==2.2.3



